POSTGRES_DB="vlaecci"
POSTGRES_HOST="localhost"
POSTGRES_PORT="5432"
POSTGRES_USER="postgres"
POSTGRES_PASSWORD="postgres"
JWT_SECRET="change-this-secret"
NEXT_PUBLIC_API_URL="http://localhost:4000"
API_URL_INTERNAL="http://localhost:4000"
FRONTEND_URL="http://localhost:3000"
BACKEND_PUBLIC_URL="http://localhost:4000"
TYPEORM_SYNC="true"
NEXT_PUBLIC_WHATSAPP_NUMBER="+994501234567"
NEXT_PUBLIC_INSTAGRAM_USERNAME="vlaecci"
